
/* ToDo add
 =====================*/
.todo-add {
  margin: 10px 0;
  margin-bottom: 20px;
}

/* ToDo items
 =====================*/
.todo-items {
  margin: 10px 0;
}
  .todo-items > .todo-item {
    margin-bottom: 1px;
  }